/* FlashCard.css */


.flashcard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 20px;
  margin-top: 5px;
}


.card-container {
  perspective: 1000px;
  width: 600px;
  height: 150px;
  margin: 15px;
  cursor: url('/public/cursors/leaf_cursor.svg'), auto;
  display: inline-block;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.4s ease-in-out;
  transform-origin: center center;
  backface-visibility: hidden;
}

.card-container.flipped .card {
  transform: rotateY(180deg);
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 12px;
  border: 2px solid #006a5c;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  outline: 1px #b7f5e7;
  
}

.back {
  transform: rotateY(180deg);
  background-color: #e0f7fa;
  position: absolute;
  top: 1;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 12px;
  border: 2px solid #006a5c;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  outline: 1px #b8f4e8;
  
}