@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import "tailwindcss";

:root {
  font-family: system-ui, Nunito, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  color-scheme: light dark;
  color: rgba(11, 156, 50, 0.47);
  background-color: rgba(227, 247, 247);
  justify-content: center;
  align-items: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: rgba(196, 184, 184, 0);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  font-family: 'Oswald', sans-serif;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  cursor: url('/public/cursors/leaf_cursor.svg'), auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
